<%
#
# author: Matt Scaperoth <matthew@scaperoth.com>
# description: renders a search form and the photos after search is performed
#
%>

<%= form_tag("/search/by_tag", method: "get", remote: true, :class => "form") do %>
  <%= label_tag(:tags, "Search for:") %>
  <%= text_field_tag(:tags, @tags.nil? ? nil : @tags) %>
  <%= select_tag(:sort, options_for_select([
  	['Date Posted ASC', 'date-posted-asc'], 
  	['Date Posted DESC', 'date-posted-desc'], 
  	['Date Taken ASC', 'date-taken-asc'], 
  	['Date Taken DESC', 'date-taken-desc'], 
  	['Interestingness DESC', 'interestingness-desc'], 
  	['Interestingness ASC', 'interestingness-asc'],
  	['Relevance', 'relevance'],
  	])) %>
    <!-- TODO: Add Paging -->
  <%= submit_tag("Search") %>
<% end %><!--end form -->


<div id="image_section">	

	<%= render partial: "shared/spinner" %>
	<div id="images">
		<div class="grid">
			
		</div><!--end grid-->
	</div><!-- end images-->
</div><!-- end image_section -->

